# Dependency directories
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env
.idea

# Compiled output
#dist/ # is not ignored to enable the static GitHub Pages
build/

# OS-specific files
.DS_Store
Thumbs.db